{% extends 'basics/base.html' %}

{% block title %}About {% endblock %}

{%block body%}
<style>
    body {
        background: #34495e;
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-position: center;
    }

    .loginbox {
        width: 350px;
        height: 450px;
        background: #191919;
        color: goldenrod;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        border-radius: 20px;

    }

    .loginbox h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }

    .loginbox p {
        margin: 0;
        padding: 0;
        font-style: italic;
    }

    .loginbox input {
        width: 100%;
        margin-bottom: 20px;
    }

    .loginbox input[type="text"],
    input[type="password"] {
        border: 0;
        border-bottom: 2px solid blue;
        background: none;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 14px;
        border-radius: 24px;
        width: 300px;
        text-align: center;
        margin: 20px auto;
        transition: 025s;
    }

    .loginbox input[type="submit"] {
        border: black;
        outline: none;
        height: 40px;
        background: #fb2525;
        color: black;
        font-size: 18px;
        border-radius: 20px;
    }

    .loginbox input[type="submit"]:hover {
        color: #255784;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    }

    .loginbox a {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        color: rgb(47, 11, 207);
    }

    .loginbox a:hover {
        color: rgb(243, 26, 10);
    }
</style>

<div class="loginbox">
    <h1></h1>
kindly check your mail.password reset link has been send
the link works for 10 mins
</div>
{% endblock %}